&soc {
    /delete-node/ memory@100c0000;
    /delete-node/ memory@10100000;
    /delete-node/ memory@100be000;
    /delete-node/ mbox@100bf000;
    sram: memory@10000000 {
        compatible = "mmio-sram";
        reg = <0x10000000 0x124000>;
    };
    driver_share_memory: memory@10124000 {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x10124000 0x1000>;
        zephyr,memory-region = "SHMEM";
    };
    mbox: mbox@10125000 {
        compatible = "linkedsemi,mbox";
        reg = <0x10125000 0x1000>;
        fifo-deepth = <2>;
        fifo-width = <256>;
        #mbox-cells = <1>;
        interrupts = <SYSC_SEC_CPU_IRQN 3>;
        status = "okay";
        mbox_consumer_qspi1: mbox-consumer_qspi1 {
            compatible = "vnd,mbox-consumer";
            mboxes = <&mbox 1>, <&mbox 0>;
            mbox-names = "tx", "rx";
        };
        mbox_consumer_otbn_crypto: mbox-consumer_otbn_crypto {
            compatible = "vnd,mbox-consumer";
            mboxes = <&mbox 3>, <&mbox 2>;
            mbox-names = "tx", "rx";
        };
        mbox_consumer_espi1: mbox-consumer_espi1 {
            compatible = "vnd,mbox-consumer";
            mboxes = <&mbox 5>, <&mbox 4>;
            mbox-names = "tx", "rx";
        };
    };
};


&chosen {
    zephyr,sram = &sram;
};

&eth1 {
    status = "okay";
};

&mdio1 {
    status = "okay";
};


&psram {
    status = "okay";
};
