&chosen {
    zephyr,sram = &sram;
};

/*
 * SHMEM must be moved above the sram (data RAM) region to avoid overlap
 * with noinit/BSS sections. The original SHMEM at 0x100be000 collides
 * with growing noinit. Move it to 0x10140000 (right after sram ends).
 */
/delete-node/ &driver_share_memory;
/ {
    soc {
        driver_share_memory: memory@0x1013c000 {
            compatible = "zephyr,memory-region", "mmio-sram";
            reg = <0x1013c000 0x1000>;
            zephyr,memory-region = "SHMEM";
        };
    };
};

/* MBOX region must also move to avoid potential overlap */
/delete-node/ &mbox_memory;
/ {
    soc {
        mbox_memory: memory@0x1013d000 {
            compatible = "zephyr,memory-region", "mmio-sram";
            reg = <0x1013d000 DT_SIZE_K(4)>;
            zephyr,memory-region = "MBOX";
        };
    };
};

&eth1 {
    status = "okay";
};

&mdio1 {
    status = "okay";
};


&psram {
    status = "okay";
};

&i2c1 {
    status = "okay";
    label = "i2c-1";
};
&i2c2 {
    status = "okay";
    label = "i2c-2";
};
&i2c3 {
    status = "okay";
    label = "i2c-3";
};
&i2c4 {
    status = "okay";
    label = "i2c-4";
};
&i2c5 {
    status = "okay";
    label = "i2c-5";
};
&i2c6 {
    status = "okay";
    label = "i2c-6";
};
&i2c7 {
    status = "okay";
    label = "i2c-7";
};
&i2c8 {
    status = "okay";
    label = "i2c-8";
};
&i2c9 {
    status = "okay";
    label = "i2c-9";
};
&i2c10 {
    status = "okay";
    label = "i2c-10";
};
&i2c11 {
    status = "okay";
    label = "i2c-11";
};
&i2c14 {
    status = "okay";
    label = "i2c-14";
};

&espi1 {
    status = "okay";
    espi1_kcs0: espi1_kcs_ca2 {
        compatible = "linkedsemi,ls-kcs";
        kcs-env-addr = <0x40045d00>;
        port = <0xca2 0xca3>;
        status = "okay";
    };
};

// host_kcs_container: host_bmc_container_kcs@0 {
// 		compatible = "linkedsemi,host-bmc-container";
// 		reg = < 0x0 0x10 >;
// 		#address-cells = < 0x1 >;
// 		#size-cells = < 0x1 >;
// 		status = "okay";
// 		espi1_host_kcs_ca2: espi1_host_kcs_ca2@0 {
// 			compatible = "linkedsemi,ls-host-kcs";
// 			reg = < 0x0 0x10 >;
// 			port = < 0xca2 0xca3 >;
// 			kcs-env-addr = < 0x40045d00 >;
// 			espi_lpc = < &espi1 >;
// 			mbox = < &mbox_consumer_kcs1 >;
// 			status = "okay";
// 		};
// 	};

&ipmi_kcs {
    kcs_chan = <&espi1_kcs0>;
    status = "okay";
};

/ {
    fstab {
        compatible = "zephyr,fstab";

        ro_lfs_a: ro_lfs_a{
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/ro";
            partition = <&a_rofs_partition>;
            no-format;
            read-only;
            read-size = <32>;
            prog-size = <32>;
            cache-size = <64>;
            lookahead-size = <256>;
            block-cycles = <512>;
        };
        rw_lfs: rw_lfs{
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/rw";
            partition = <&rwfs_partition>;
            // automount;
            // no-format;
            read-size = <32>;
            prog-size = <32>;
            cache-size = <64>;
            lookahead-size = <256>;
            block-cycles = <512>;
        };
    };
};
